<div class="container mt-4">
  <h1>Biz Directory</h1>
  <p>Welcome to the Biz Directory application.</p>

  <div class="mt-3">
    <img src="/assets/coffee.jpg" height="150" class="img-fluid rounded me-3">
    <img src="/assets/restaurant.jpg" height="150" class="img-fluid rounded me-3">
    <img src="/assets/shop.jpg" height="150" class="img-fluid rounded me-3">
    <img src="/assets/office.jpg" height="150" class="img-fluid rounded me-3">
  </div>

  <div class="mt-4">
    <img src="https://angular.dev/assets/images/logos/angular/angular.svg" height="100">
  </div>
</div>